.assombrir-fond {
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 300%;
    font-family: TF2secondary;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
  }
  
  h2 {
    font-size: 250%;
    font-family: TF2main;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
  }
  
  h4 {
    font-size: 130%;
    font-family: TF2secondary;
    color: rgb(255, 255, 255);
    padding-left: 35px;
    text-align: left;
    text-decoration: underline;
  }
  
  p {
    font-size: 100%;
    font-family: TF2secondary;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    color: rgb(255, 255, 255);
  }
  
  p,
  div,
  a {
    font-family: SegUIVar, Segoe UI, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: Segoe UI, SegUIVar, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  body {
    margin: 0 auto;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
  }
  
  .body {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    box-shadow: rgb(0, 0, 0, 0.4) 3px 3px 10px;
    max-width: px;
    color: black;
    opacity: 0.95;
  }
  
  span.pipe {
    color: white;
  }
  
  span.green {
    color: rgb(0, 255, 0);
  }
  
  span.red {
    color: rgb(255, 0, 0);
  }
  
  span.blue {
    color: rgb(0, 127, 255);
  }
  
  a {
    color: inherit;
  }
  .green {
    color: rgb(0, 255, 0);
  }
  
  .red {
    color: rgb(255, 0, 0);
  }
  
  .blue {
    color: rgb(0, 127, 255);
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 